<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false">
	<property name="APPLICATION_NAME"
		value="lie-bot-testing" />
	<property name="LOG_HOME" value="logs" />
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%thread] %logger{40}:%line :: %m%n%ex" />

	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="SIFT"
		class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>loggingFile</key>
			<defaultValue>${APPLICATION_NAME}</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${LOG_HOME}/${loggingFile}.log</file>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/${loggingFile}-%i.log</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy
						class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<maxFileSize>50MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>30</maxHistory>
				</rollingPolicy>
				<encoder>
					<charset>UTF-8</charset>
					<pattern>${LOG_PATTERN}</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="SIFT" />
	</root>

</configuration>